/* HEADER */
.gradient-line {
  width: 55px;
  height: 4px;
  background: linear-gradient(180deg, var(--color-skyblue) 0%, var(--accent-color) 91%);
  border-radius: 64px;
}

.blog-subtitle {
  color: #00004D;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
}

.title-green {
  color: var(--accent-color);
  font-size: 40px;
  font-family: "Exo 2";
  font-weight: 600;
}

.title-blue {
  color: var(--color-skyblue);
  font-size: 40px;
  font-family: "Exo 2";
  font-weight: 600;
}

.section-subtitle {
  max-width: 650px;
  text-align: center;
  color: var(--primary-color);
  font-size: 16px;
  font-family: Inter;
  line-height: 26px;
}

/* BLOG CARDS */
.blog-card {
  background: #ffffff;
  border-radius: 18px;
  outline: 1px solid var(--color-skyblue);
  transition: all 0.3s ease;
  overflow: hidden;
  height: 100%;
}

.blog-card:hover {
  transform: translateY(-6px) scale(1.02);
  box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.15);
}

.blog-img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 18px 18px 0 0;
}

.blog-tag {
  position: absolute;
  left: 15px;
  top: 15px;
  padding: 3px 10px;
  background: #ffffff;
  border-radius: 50px;
  color: var(--accent-color);
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
}

.blog-meta {
  font-size: 12px;
  color: var(--color-skyblue);
  font-family: Inter;
}

.read-more {
  color: var(--accent-color);
  font-size: 14px;
  font-family: "Exo 2";
  font-weight: 600;
  text-transform: uppercase;
}

/* Responsive */
@media (max-width: 768px) {
  .title-green,
  .title-blue {
    font-size: 32px;
  }
  .section-subtitle {
    width: 100%;
    font-size: 15px;
  }
}
